* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  
  ul {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  nav ul li {
    list-style-type: none;
    margin-left: 16px;
  }

  body {
    background-color: blueviolet;
  }

  main {
    color: white;
    padding-top: 16px;
    width: 800px;
    margin: 0 auto;
    padding-left: 16px;
  }
  
  section {
    display: flex;
  }
  
  #primeiro-card {
    margin-right: 12px;
  }
  
  section div {
    background-image: url("./img/bg_laranja.jpg");
    padding: 12px;
    height: 200px;
    width: 300px;
    border-radius: 8px;
  }